.container {
  height: 60px;
  background: #48cab2;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 900;
  color: white;
}
